
#Original code
#RewriteEngine On
#RewriteCond %{HTTPS} !=on
#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteRule ^([^\.]+)$ $1.html [NC,L]
#redirect html to php: https://stackoverflow.com/questions/5990240/redirect-all-html-extensions-to-php
#RewriteRule ^(.*)\.html$ $1.php [L]
#remove .php extension
#RewriteRule ^([^\.]+)$ $1.php [NC,L]

########

#Updated code for %2f security redirect to 404
RewriteEngine On
RewriteCond %{HTTPS} !=on
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
RewriteRule ^index.html$ https://decentral.ca [R=301,L]

#redirect html to php: https://stackoverflow.com/questions/5990240/redirect-all-html-extensions-to-php
RewriteRule ^(.*)\.html$ $1.php [L]

#remove .php extension
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.php [NC,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /404.php [L]

#redirect html to php: https://stackoverflow.com/questions/5990240/redirect-all-html-extensions-to-php
RewriteRule ^(.*)\.html$ $1.php [L]

# Rewrite/redirects
# Redirects from https://decentral.ca/jaxx.html to decentral.ca/jaxxliberty.php
RewriteRule ^jaxx$ https://decentral.ca/jaxxliberty [R,L]

# Redirects from https://decentral.ca/history.html to decentral.ca/about.php
RewriteRule ^history$ https://decentral.ca/about [R,L]

# Redirects from https://decentral.ca/team.html to decentral.ca/about.php
RewriteRule ^team$ https://decentral.ca/about [R,L]

# Redirects from https://decentral.ca/partnerships.html to decentral.ca/partner-network.php
RewriteRule ^partnerships$ https://decentral.ca/partner-network [R,L]

# 301 redirects
Redirect 301 /jaxx.html https://www.decentral.ca/jaxxliberty
Redirect 301 /history.html https://www.decentral.ca/about
Redirect 301 /team.html https://www.decentral.ca/about
Redirect 301 /partnerships.html https://www.decentral.ca/partner-network

# Set custom 404 + 403 error pages
ErrorDocument 404 /404.php
ErrorDocument 403 /403.php

Options -Indexes

## EXPIRES CACHING ##
<IfModule mod_expires.c>
ExpiresActive On
ExpiresByType image/jpg "access 1 month"
ExpiresByType image/jpeg "access 1 month"
ExpiresByType image/gif "access 1 month"
ExpiresByType image/png "access 1 month"
#ExpiresByType text/css "access 1 month"
#ExpiresByType text/html "access 1 month"
ExpiresByType application/pdf "access 1 month"
ExpiresByType text/x-javascript "access 1 month"
ExpiresByType application/x-shockwave-flash "access 1 month"
ExpiresByType image/x-icon "access 1 year"
ExpiresDefault "access 1 month"
</IfModule>
## EXPIRES CACHING ##

